debug.log

# Ignore master key for decrypting credentials and more.
/config/master.key

# ignore file named database.yml

config/database.yml

/log/*
/tmp/*
!/log/.keep
!/log/.development.log
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep