<h1>Admin Menu</h1>

<div class="d-md-flex justify-content-between align-items-center mx-5 mx-md-0">
    <div class="col-md-3 border p-4">
        <%= link_to image_tag("empleados.png", alt: "employee image", class: 'img-fluid'), employees_path %>
        <p class="row justify-content-center h1">Employees</p>
    </div>
    <div class="col-md-3 border p-4">
        <%= link_to image_tag("tienda.png", alt: "store image", class: 'img-fluid'), stores_path %>
        <p class="row justify-content-center h1">Stores</p>
    </div>
    <div class="col-md-3 border p-4">
        <%= link_to image_tag("reporte.png", alt: "report image", class: 'img-fluid') %>
        <p class="row justify-content-center h1">Reports</p>
    </div>
    
    
</div>

