/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.checkin_header a {
  font-size: 30px;
  color: white;
  margin-right: 100px;
}
.checkin_header a:hover {
  color: grey;
}
.checkin_header{
  background-color: #2c2b37;
}
.checkin_header nav{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 90%;
 }
.checkin_header nav button{
  background-color: #244c94;
  border-radius: 3px;
  border-style: hidden;
  color: white;
  display: block;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 120px;
 }
.checkin_header nav button:hover {
  background-color: #1cadfc;
  color: black;
 }
.checkin_header nav h1{
  color: white;
 }
#title h1{
  font-size: 60px;
  margin-top: 10px;
  text-align: center;
  width: 100%;
 }
html {
  height: 100%;
 }
#current_date {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  margin-bottom: 35px;
  text-align: center;
 }
#digital-clock {
  color: black;
  font-size: 120px;
  height: 120px;
  margin-bottom: 0%;
  text-align: center;
  width: 100%;
 }
.dot {
  color: black
 }
#form_style {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
 }
form label {
  font-size: 25px;
 }
form input {
  border-radius: 3px;
  border-style: hidden;
  margin-bottom: 30px;
  width: 250px;
 }
form button {
  background-color: #007bff;
  border-radius: 3px;
  border-style: hidden;
  color: white;
  display: block;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 120px;
 }
form button:hover {
  background-color: #1cadfc;
 }
input[type="submit" i] {
  background-color: #007bff;
  border-radius: 3px;
  border-style: hidden;
  color: white;
  display: block;
  justify-content: center;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  width: 120px;
 }
.login_title {
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
 }
table {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
 }
.check__buttons_container {
  display: flex;
  justify-content: space-between;
  text-align: center;
 }
