<div id="title"> <h1> January reports </h1> </div>

<div class="row justify-content-center">
    <table class="table table-bordered table-dark">
        <tr> 
            <td> January attendances on day 1: </td>
            <td>150</td>
        </tr>
        <tr>
            <td> January average check in:: </td>
            <td>12:00</td>
        </tr>
        <tr>
            <td> January average check out: </td>
            <td>10:00</td>
        </tr>
        <tr> 
            <td> January absences on day 1: </td>
            <td>50</td>
        </tr>
    </table>
</div>
