<div id="title"> <h1>Reporte del mes enero </h1> </div>

<div class="row justify-content-center">
    <table class="table table-bordered table-dark">
        <tr> 
            <td> Asistencias enero dia 1: </td>
            <td>150</td>
        </tr>
        <tr>
            <td> Hora de entrada promedio de enero: </td>
            <td>12:00</td>
        </tr>
        <tr>
            <td> Hora de salida promedio de enero: </td>
            <td>10:00</td>
        </tr>
        <tr> 
            <td> Ausencia enero dia 1: </td>
            <td>50</td>
        </tr>
    </table>
</div>
